@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap);

.wrapper {
   padding: 200px;
   font-family: "Roboto", sans-serif;
   min-height: 100%;
   overflow: hidden;
}
.appointment {
   /* background: url(../img/background_image.svg) 0 0 no-repeat; */
}
[class*="__container"] {
   max-width: 1020px;
   margin: 0px auto;
}
.appointment__container {
   display: flex;
}
.appointment__advertisment {
   flex: 0 1 42.6%;
}
.appointment__form {
   padding: 0px 57px;
   flex: 0 1 57.4%;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
}
.form-element {
   flex: 0 1 50%;
   max-width: 224px;
}
.appointment__name {
}
.appointment__email {
}
.appointment__number {
}
.appointment__service {
}
.appointment__textarea {
}
.button {
}
