@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
.wrapper {
   min-height: 100%;
   overflow: hidden;
   background: #f5f5f5;
}
input:focus,
textarea:focus {
   outline: none;
}
button:hover {
   cursor: pointer;
}
.appointment {
   font-family: "Roboto", sans-serif;
   background: url(../img/background_image.svg) 0 0 no-repeat;
   width: 100%;
   background-position: center;
   padding: 130px 0px 210px 0px;
}
[class*="__container"] {
   max-width: 1020px;
   margin: 0px auto;
}
.appointment__container {
   display: flex;
   flex-wrap: wrap;
   column-gap: 111px;
   row-gap: 50px;
}
.appointment__advertisment {
   flex: 0 1 42.6%;
   max-width: 324px;
}
.appointment__advertisment:last-child {
   margin: 166px 0px 0px 0px;
}
.advertisment-content__heading {
   color: #ffffff;
   font-weight: 900;
   font-size: 30px;
   line-height: 1.2;
   text-align: center;
}
.advertisment-content__heading:not(:last-child),
.advertisment-content__title:not(:last-child) {
   margin: 0px 0px 46px 0px;
}
.advertisment-content__title {
   font-weight: 900;
   font-size: 96px;
   line-height: 0.58;
   text-align: center;
   color: #ffffff;
}
.advertisment-content__subtitle {
   font-weight: 900;
   font-size: 19px;
   line-height: 1.37;
   text-align: center;
   color: #ffffff;
}
.appointment__form {
   background-color: #5d62b5;
   padding: 0px 57px;
   max-width: 585px;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   row-gap: 22px;
   column-gap: 22px;
   border-radius: 40px;
   filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
}
.appointment__title {
   padding: 76px 57px 0px 57px;
   font-weight: 900;
   font-size: 36px;
   line-height: 1.17;
   text-align: center;
   color: #ffffff;
}
.appointment__title:not(:last-child) {
   margin: 0px 0px 21px 0px;
}
.form-element {
   flex: 0 1 50%;
   max-width: 224px;
}
.input-element {
   padding: 17px 24px 15px 24px;
   background-color: #5d62b5;
   color: #ffffff;
   width: 100%;
   border-radius: 10px;
   border: 2px solid white;
}
.input-element:hover {
   background-color: #5659a0;
}
.input-element:hover::placeholder {
   opacity: 0;
}
.input-element::placeholder,
.input-element option {
   color: #ffffff;
   opacity: 0.8;
   font-weight: normal;
   font-size: 16px;
   letter-spacing: 0.15px;
}
.appointment__name {
}
.appointment__email {
}
.appointment__number {
}
.appointment__service {
}
.appointment__textarea {
   width: 100%;
   height: 180px;
   padding: 17px 0px 15px 24px;
   border-radius: 10px;
   resize: vertical;
}
.appointment__textarea-element {
   flex: 0 1 100%;
}
.appointment__textarea-element:not(:last-child) {
   margin: 0px 0px 6px 0px;
}
.button-container {
   flex: 0 1 100%;
   display: flex;
   justify-content: flex-end;
}
.button-container:last-child {
   margin: 0px 0px 76px 0px;
}
.button {
   max-width: 210px;
   background: #f2726f;
   border-radius: 8px;
   padding: 9px 32px;
   font-weight: bold;
   font-size: 12px;
   line-height: 2;
   text-transform: uppercase;
   color: #ffffff;
}
/* Part 2 */
.summary {
   background-color: #fff;
   padding: 100px 0px 100px 0px;
   font-family: "Poppins", sans-serif;
}
.summary__block {
   padding: 18px 30px 29px 32px;
   max-width: 43.7%;
   background-color: #f5f7ff;
}
.summary__main-heading {
   font-weight: 600;
   font-size: 24px;
   color: #000000;
   line-height: 1.5;
}
.summary__main-heading:not(:last-child) {
   margin: 0px 0px 19px 0px;
}
.heading {
   font-weight: normal;
   font-size: 18px;
   line-height: 1.5;
   color: #000000;
}
.summary__shipping:not(:last-child),
.summary__destination:not(:last-child) {
   margin: 0px 0px 13px 0px;
}
.summary__destination {
   font-weight: normal;
   font-size: 14px;
   line-height: 1.5;
   color: #666666;
}
.summary__form-container {
}
.summary__form {
   display: flex;
   flex-direction: column;
}
.form-item {
}
.item-form {
   display: flex;
   flex-direction: column;
}
.item-form:not(:last-child) {
   margin: 0px 0px 5px 0px;
}
.item-form label {
   font-weight: 600;
   font-size: 13px;
   line-height: 2.1;
   color: #000000;
}
.item-form select,
.item-form input {
   flex: 0 1 100%;
   font-weight: normal;
   font-size: 14px;
   line-height: 1.4;
   color: #000000;
   background-color: #fff;
   padding: 18px 0px 18px 17px;
   background: #ffffff;
   border: 1px solid #a2a6b0;
   border-radius: 4px;
}
.form-item__adress {
}
.form-item__postal-code {
}
.form-item__delivery input {
   font-weight: normal;
   font-size: 14px;
   line-height: 1.43;
   color: #000000;
}
.form-item__delivery:not(:last-child) {
   margin: 0px 0px 35px 0px;
}
.form-item__discount {
}
.summary__button {
   padding: 13px 0px;
   width: 100%;
   font-weight: 600;
   font-size: 14px;
   line-height: 1.5;
   text-align: center;
   color: #0156ff;
   border: 2px solid #0156ff;
   border-radius: 50px;
   background-color: #f5f7ff;
}
.summary__button:hover {
   background-color: #0156ff;
   color: #f5f7ff;
   transition: background-color 0.3s ease, color 0.3s ease;
}
.form-item__discount:last-child {
   margin: 0px 0px 19px 0px;
}
/* Part 3 */
.customers {
   background-color: #fff;
   font-family: "Poppins", sans-serif;
   padding: 0px 0px 100px 0px;
}
.customers__container {
   max-width: 1402px;
   display: flex;
   flex-wrap: wrap;
   column-gap: 34px;
   row-gap: 34px;
}
.block-style {
   padding: 37px 57.5px 0px 57.5px;
   flex: 0 1 564px;
   display: flex;
   flex-direction: column;
   background: #f5f7ff;
}
.heading-customers {
   font-weight: 600;
   font-size: 18px;
   line-height: 1.5;
   align-items: center;
   color: #000000;
}
.customers__heading:not(:last-child),
.customers__message:not(:last-child) {
   margin: 0px 0px 12px 0px;
}
.customers__message {
   font-weight: 300;
   font-size: 14px;
   line-height: 2.1;
   align-items: center;
   color: #000000;
}
.customers__form-container {
}
.customers__form {
}
.box-form {
}
.form-box-field {
   display: flex;
   flex-direction: column;
   font-weight: 600;
   font-size: 13px;
   line-height: 2.1;
   color: #000000;
}
.form-box-field:not(:last-child) {
   margin: 0px 0px 7px 0px;
}
.box-form__password:not(:last-child) {
   margin: 0px 0px 30px 0px;
}
.form-box-field label:not(:last-child) {
   margin: 0px 0px 5px 0px;
}
.form-box-field input {
   width: 100%;
   padding: 14px 0px 14px 17px;
   border: 1px solid #a2a6b0;
   border-radius: 4px;
   font-weight: 300;
   font-size: 14px;
   line-height: 20px;
   color: #a2a6b0;
}

.box-form__footer {
   display: flex;
   margin: 0px -12px;
   align-items: center;
}
.box-form__footer:last-child {
   margin: 0px 0px 40px 0px;
}
.box-form__button-content {
   padding: 0px 12px;
}
.button-style {
   padding: 14px 50px;
   background-color: #0156ff;
   border-radius: 50px;
   font-weight: 600;
   font-size: 14px;
   line-height: 1.5;
   text-align: center;
   color: #ffffff;
   border: 2px solid transparent;
}
.button-style:hover {
   background-color: #fff;
   color: #0156ff;
   border: 2px solid #0156ff;
   transition: background-color 0.3s linear, color 0.3s linear;
}
.customers__link {
   background-color: #f5f7ff;
   padding: 0px 12px;
   font-weight: normal;
   font-size: 14px;
   line-height: 1.4;
   align-items: center;
   color: #0156ff;
   padding: 14px 30px;
   border: 2px solid transparent;
   border-radius: 50px;
}
.customers__link:hover {
   border: 2px solid #0156ff;
   transition: border 0.3s linear, background-color 0.3s linear;
   background-color: #fff;
}
/* Part 4 */
.customers__block-new {
}
.new-customers {
}
.new-customers__block {
   display: flex;
   flex-direction: column;
}
.new-customers__heading {
}
.new-customers__heading:not(:last-child) {
   margin: 0px 0px 22px 0px;
}
.heading-customers {
}
.new-customers__list-label {
}
.new-customers__list-label:not(:last-child) {
   margin: 0px 0px 20px 0px;
}
.list-style {
   font-weight: 300;
   font-size: 14px;
   line-height: 1.43;
   color: #000000;
}
.new-customers__list {
}
.new-customers__list:not(:last-child) {
   margin: 0px 0px 36px 0px;
}
.new-customers__button {
   max-width: 208px;
   flex: 0 1 37%;
   padding: 14px 36px;
}
.new-customers__button:last-child {
   margin: 0px 0px 147px 0px;
}
